<div class = "container">
<p><%= notice %></p>

		<%= render 'layouts/erorr-messages-books', book:@book %>


	<div class = "row">
			<div class = "col-xs-3">
				<%= render 'layouts/sidbar', user:@user,book:@book %>
			</div>

<!-- 投稿したbook一覧 -->
	
	<div class = "col-xs-9">
		<%= render 'layouts/books-index', books:@books,users:@users,user:@user %>


	</div>
	</div>
</div>