<div class = "container">
	<div class = "row">
		<div class = "col-lg-1">
		</div>
		<div class = "col-lg-11">
			<h1>welcom to <span class = "glyphicon glyphicon-book"><strong>Bookers !!</strong></h1>
		</div>
	<div>
<div>