<div class = "container">
	<div class = "row">
		<div class = "col-log-2">
		</div>
		<div class = "col-log-8">
			<h2>welcom to Bookers !!</h2>

			<p>In Bookers,</p><br>
			<p>you can share and exchange your opinions, inpressions, and emotions</p><br>
			<p>about verious books!</p>
			<%= link_to "sing up", new_user_registration_path %><br>
			</p>
			<p>
			<%= link_to "log in",  new_user_session_path %>
			</p>
		</div>
		<div class = "col-log-2">
		</div>
	</div>
</div>


